@using Enterprise.Models
@using Enterprise.Infrastructure
@model Schedule<MachineSchedule>
@{
	ViewBag.Title = "Розклад робіт";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h2>@ViewBag.Title</h2>
	<div class="gantt-chart" style='width: 100%;'></div>
	<input id="gantt-chart-data" type="hidden" value="@Model.GetJson()"/>
</div>