@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Система планування робіт на підприємстві</h4>
<p>Темою РГР є «Система планування виробництва».
Існує підприємство, яке випускає вироби. У кожного вироба є свой дедлайн, технологічна картка, де описано, які операції та який час необхідно виконувати, щоб його виготовити. Керуванням цього займається співробітник технологічного відділу. На підприємстві є дільниці, якими керує головний інженер. На кожній дільниці є набір приладів, кожен прилад виконує якийсь набір операцій.
</p>
