@{
    ViewBag.Title = "About";
}
<h2>Про продукт</h2>

<h4>Система підтримки розробки та аналізу ПДС-алгоритмів побудови розкладів робіт на паралельних верстатах однакової продуктивності</h4>
<p>АС «Система підтримки розробки та аналізу ПДС-алгоритмів побудови розкладів робіт на паралельних верстатах однакової продуктивності» призначена для інформаційно-аналітичного забезпечення процесів розробки ПДС-алгоритмів складання розкладів переважно науковими колективами.
</p>
