@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	03056, Київ, вул. Політехнічна, 41
</address>

<address>
    <strong>Підтримка:</strong>   <a href="mailto:Support@example.com">d1masinukov@gmail.com</a><br />
</address>