
@{
	ViewBag.Title = "Сторінка не знайдена";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h2>
		Сторінка з вказаною адресою не знайдена.
	</h2>
	<div style="margin: 30px;">
		<img src="/Content/Images/404.png" width="500"/>
	</div>
</div>