@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Помилка";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<img src="/Content/Images/Error.png" width="200" />
	<h2>
		Під час виконання запиту виникла помилка,<br />
		зверніться до адміністратора.
	</h2>
</div>