@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблоковано";
}

<hgroup>
    <h1 class="text-danger">Заблоковано.</h1>
    <h2 class="text-danger">Цей акаунт був заблокований, будь ласка повторіть спробу пізніше.</h2>
</hgroup>